/* #region GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #E9E9E9;
}
img {
    display: block;
    image-orientation: none; /* fix for rotated images on Safari */
}
.ProjectMainSection img {
    border: 1px solid rgb(201, 201, 201);
}
b {
    font-weight: 600;
}
.PrimaryButton {
    border: none;
    background-color: #2156a6;
    color: #fff;
    padding: 1rem 1.75rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    text-wrap: balance;
}
.PrimaryButton:hover {
    background-color: #00005e;
    transition: .1s ease-in-out;
}
.PrimaryButton:not(:hover) {
    background-color: #2156a6;
    transition: .1s ease-in-out;
}
#skip {
    background-color: #fff;
    border: 1px solid black;
    padding: 2px;
    position: absolute;
    left: -999px;
    color: #000;
    z-index: 999;
}
#skip:focus {
    left: 10px;
    top: 30px;
}
.SectionPadding {
    padding-left: 8rem;
    padding-right: 8rem;
}
.SectionPaddingLeftOnly {
    padding-left: 8rem;
    padding-right: 0;
}
.SmallPadding {
    padding-left: 4rem;
    padding-right: 4rem;
}
.SmallPaddingRight {
    padding-right: 2rem;
}
.ClearPadding {
    padding: 0;
}
.AlignedCards {
    display: flex;
    gap: 1rem;
}
.ParentColumn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.LargeGapColumn {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.BigHeadingAndParagraph {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.NoBorder img {
    border: none;
}
.SmallGap {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.ProjectBody h2 {
    margin-bottom: -1.5rem;
}
.Row {
    display: flex;
    flex-direction: row;
}
/* .Column h1, .Column h2, .Column h3, .Column h4 {
    margin-bottom: -.5rem;
} */
.ParentColumnGap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.JustImagesContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.OneColumnImagesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

@media only screen and (max-width: 1300px) {
    .SectionPadding, .SectionPaddingLeftOnly {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .SectionPadding, .SectionPaddingLeftOnly {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width: 800px) {
.JustImagesContainer {
    display: flex;
    flex-direction: column;
}
}


/* #endregion GLOBAL */

/* #region NAVBAR */

@media only screen and (max-width: 850px) {
    .NavBar {
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .NavBarLinks {
        gap: 3rem !important;
    }
    .NavBarLogo {
        /* display: flex;
        width: 100%;
        justify-content: center; */
    }
    .ProjectHeroDescription {
        max-width: unset !important;
    }
}
@media only screen and (max-width: 400px) {
    .NavBarLinksChild {
        font-size: 1rem;
    }
    .NavBarLinks {
        gap: 2rem !important;
    }
}
@media only screen and (max-width: 340px) {
    .NavBarLinks {
        gap: 1.5rem !important;
    }
}
@media only screen and (max-width: 324px) {
    .NavBarLinks {
        gap: 1.4rem !important;
    }
}

.NavBarLogo {
        /* margin-left: 10vw; */
        /* color: red; */
        /* padding-right: 2vw; */
        /* padding-top: 1em; */
        /* padding-bottom: 0; */
        /* height: ; */
        padding: 0rem;
        /* border-radius: 20; */
        background-color: #2156a6;
}
.NavBarLogo img {
        background-color: #2156a6;
        /* padding-left: 2em; */
        /* color: red; */
        /* padding-right: 2em; */
        /* padding-top: 2em; */
        padding: 1rem;
        height: 5rem;
        width: 5rem;
}
.NavBarLogo a {
font-size: 0;
width: max-content;
display: block;
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 2rem;
}
.NavLinkHome {
    display: none !important;
}
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgba( 233, 233, 233, 0.75);
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 26.5px );
    -webkit-backdrop-filter: blur( 26.5px);
}
.NavBarLinks {
    /* position: absolute;
    right: 20%; */
    font-weight: 700;
    font-size: 1.125rem;
    display: flex;
    gap: 6rem;
}
.NavBarLinks a:link, .NavBarLinks a:visited, .NavBarLinks a:hover, .NavBarLinks a:active {
    text-decoration: none;
}
.NavBarLinks a:link, .NavBarLinks a:visited {
    color: #2156a6;
}
.NavBarLinks a:hover, .NavBarLinks a:active {
    color: #00005e;
    text-decoration: underline;
}
.NavBarLinksChild {
    /* display: inline;
    padding-left: 100px; */

}
.CurrentPage {
    /* display: flex;
    flex-direction: column; */
}
.CurrentPage a {
    color: #00005e !important;
    text-decoration: underline !important;
}
/* .CurrentPage::after{
    content:'';
    height: 2px;
    background-color: #2156a6;
    display: inline-block;
    top: 10%;
    left: 4%;
    border-radius: 20px;
    background-color: yellow;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
} */
/* #endregion NAVBAR */

/* #region FOOTER */

@media only screen and (max-width: 850px) {
    .FooterDiv {
        flex-direction: column;
        align-items: center !important;
        gap: 1rem;
    }
    .FooterMessage {
        margin-right: 0 !important;
    }
    .FooterLinks {
        flex-direction: column;
        gap: 1rem !important;
    }
}

footer {
    background: #ffffff;
    margin-top: 3.5rem;
    padding: 2rem 0;
    background: #e9e9e9;
    box-shadow: 0px 2px 8px #00000057;
    background-color: 25%;
    background: rgba( 233, 233, 233, 0.75);
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 26.5px );
    -webkit-backdrop-filter: blur( 26.5px);

}
footer a:hover, footer a:active {
    color: #00005e;
}
.FooterDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: .9rem;
}
.FooterDivParent {
    display: flex;
    justify-content: space-between;
}
.FooterMessage {
    margin-right: auto;
    font-weight: 500;
    
}
.FooterMessage span {
    width: 300px !important;
}
.FooterLinks {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.LogoFooter {
    max-width: 16px;
}
.LinkedinLogo {
    width: 40px;
}
.Email {
    color: #2156a6;
}
/* #endregion FOOTER */

/* #region TYPOGRAPHY */
h1 {
    font-size: 3.7rem;
    font-weight: 700;
    width:fit-content;
    /* border-bottom: 4px solid #2156a6;
    padding-bottom: 4px; */
    margin-right: 10%;
    margin-top: 0;
    line-height: 130%;
    widows: 1;
    padding-right: 0 !important;
    color: #2156a6;
    text-align: left !important;
}
.HeroHomeIntro h1 {
    line-height: 120%;
}
.LightH1 {
    letter-spacing: 2%;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #2156a6;
    line-height: 120%;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
h4, .Heading4 {
    font-size: 1.15rem;
    font-weight: 600;
}
p, .ParagraphGap ul, li {
    line-height: 140%;
    font-size: 1.1rem;
}
.LightH1 {
    font-weight: 300;
    text-transform: uppercase;
}
.HeavyH1 {
    font-weight: 600;
    text-transform: uppercase;
}

:is(.ParentColumn) > h3 + p, :is(.ParentColumn) > h4 + p, :is(.ParentColumn) > h3 + img, :is(.ParentColumn) > h4 + img {
    margin-top: -1rem; /* this takes the value of the gap property of the class .ParentColumn and subtracts the value applied in this margin-top property. This property needs to be negative, and the result the equation [.ParentColumn {gap: x}] + [:is(.ParentColumn) > h3 + p, :is(.ParentColumn) > h4 + p] should ALWAYS equal the value of margin-top within the selector h3 + p, h4 + p. */
}
h3 + p, h4 + p {
    /* margin-top: 1rem; */
}
h4 + p, .Heading4 + p, .Heading4 + .ParagraphGap {
    margin-top: .25rem;
}
.ProjectBodySectionHeadings .StickyElement:has(h2 + p){
    /* margin-bottom: 0 !important; */
    gap: .75rem;
    /* If a container for the text sections on the left column of a case study has only an h2 and a p tag (as opposed to an h2 and then a div with an h3 and p tag), then the spacing between the h2 and p tag will be .75rem. If there is a div with an h3 and p tag, then the spacing between the h2 and the div will be 1.25 rem (.75 gap + .5 margin-bottom) because the spacing between an h2 and p tag should be less than the spacing between an h2 and h3 tag. */
}
.ProjectBodySectionContent h3 {
    /* margin-top: .5rem; */
}
.ProjectTag {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.125rem;
}
.Link, .Link:visited {
    color: #2156a6;
    font-weight: 600;
}
.SmallH2 {
    font-size: 1.5rem;

}
/* .Heading4 {
    font-size: 1.25rem;
    font-weight: 500;
} */
.ProjectCardInfo h3 {
    font-size: 1.9rem;
}


@media only screen and (max-width: 1000px) {
    .LightH1 {
        font-weight: 300;
        text-transform: uppercase;
    }
    .HeavyH1 {
        font-weight: 600;
        text-transform: uppercase;
    }
    .HeroHomeIntro {
        display: flex;
        justify-content: center;
    }
    .HeroHomeIntro h1 {
        text-align: center !important;
    }
    h1 {
        font-size: 3rem;
    }
    .HeroHomeIntro h1 {
        padding-right: 0 !important;
        margin-right: 0 !important
    }
    .HeroHomeIntro .SectionPadding {
        padding: .5rem !important;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1rem;
    }
}

/* #endregion TYPOGRAPHY */

/* #region HOMEPAGE */
#Projects {
    margin-top: 2.5rem;
    scroll-margin-top: 16vh;
    gap: 1.5rem;
}
.ProjectsHeadingHome {
    padding-right: 0 !important;
}
.ProjectsSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 1300px) {
    p {
        font-size: 1rem;
    }
}
/* #endregion HOMEPAGE */

/* #region PROJECT CARDS */

@media only screen and (max-width: 1000px) {
    .ProjectsSectionHeader {
        flex-direction: column;
        align-items: center;
        gap: .75rem;
        text-align: center;
        text-wrap: balance;
    }
    .ProjectTag {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    .ProjectCard {
        flex-direction: column-reverse !important;
        padding: 1.2rem !important;
        gap: 2rem;
        overflow: unset !important;
        max-height: unset !important;
    }
    .ProjectCardImage{
        overflow: unset !important;
    }
    .ProjectCardText, .ProjectCardInfo {
        align-items: center;
        text-align: center;
    }
    .ProjectCardText {
        max-width: 80%;
        padding-right: unset;
    }
    .ProjectTag {
        font-size: 1.125rem;
    }
    
}
@media only screen and (max-width: 500px) {
    .ProjectCardText {
        max-width: 100%;
    }
    .TagsContainer {
        flex-direction: column;
        gap: .25rem !important;
    }
}

.ProjectsSection {
    /* padding-top: 1.5rem; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
}
.ProjectCard {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* flex-direction: column; */
    /* gap: 1rem; */
    /* box-shadow: 8px 8px 16px -2px rgba(82, 82, 82, 0.25) inset, -8px -8px 16px -2px rgba(82, 82, 82, 0.25) inset; */
    background-color: #fff;
    border-radius: .5rem;
    text-decoration: none;
    color: initial;
    max-height: 500px;
    overflow: hidden;
    /* border: #2156a6 0px solid inset; */
    outline: #2156a6 0px solid;
    
    /* -webkit-box-shadow: 8px 4px 16px -9px rgba(0,0,0,0.25);
-moz-box-shadow: 8px 4px 16px -9px rgba(0,0,0,0.25);
box-shadow: 8px 4px 16px -9px rgba(0,0,0,0.25); */

-webkit-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
transition: .3s ease-in-out;

}
.ProjectCard:hover {
    /* background-color: #00005e; */
    /* transition: .3s ease-in-out;
    color: #fff; */
    background-attachment: fixed;
    background-image:radial-gradient(circle at var(--x, 0) var(--y, 0), rgba(0,14,84,0.18109250536151966) 0%, rgba(0,14,84,0) 100%);
    -webkit-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.9);
-moz-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.9);
box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.9);
transition: .01s ease-in-out;
/* border: #2156a6 1px solid inset; */
outline: #2156a6 1px solid;



    
}
/* .ProjectCard::after {
    content: "";
    position: absolute;
    inset: -1px;
    background-attachment: fixed;
    background-image: radial-gradient(
      circle at var(--x, 0) var(--y, 0),
      rgba(0,14,84,0.18109250536151966) 0%
      transparent 5rem
    );
    pointer-events: none;
    z-index: -1;
  } */
.ProjectCard:not(:hover) {
    transition: .3s ease-in-out;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
box-shadow: 0px 4px 25px -9px rgba(0,0,0,0.25);
}
/* .ProjectCard:hover .FeaturedTag {
    color: white;
    transition: .3s ease-in-out;
} */
.ProjectCard:not(:hover) .FeaturedTag {
    transition: .3s ease-in-out;
    color: #2156a6;
}
.ProjectCardText {
    /* flex: 40%; */
    padding-right: 1rem;
    /* width: 30rem; */
    /* position:absolute; */
    /* right: 4rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    text-wrap: balance;

}
.TagsContainer {
    display: flex;
    gap: 1rem;
}
.FeaturedTag {
    color: #2156a6;
}
.ProjectCardInfo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.ProjectCardImage {
    overflow: hidden;
    padding: 2rem;
}
#OptimalAssessment .ProjectCardImage {
    padding-bottom: 0;
}
.ProjectCardImage img {
    max-width: 100%;
}
/* #endregion PROJECT CARDS */

/* #region CONTACT SECTION */
.ContactForm {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    max-width: 100%;
}
.ContactForm input[type="text"] {
    min-height: 2rem;
    border-radius: .5rem;
    border: 1px gray solid;
    padding-left: .5rem;
    font-size: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.ContactForm .FormChild {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.FormMessageDiv textarea {
    min-height: 8rem;
    border: 1px gray solid;
    border-radius: .5rem;
    padding-left: .5rem;
    font-size: 1rem;
    padding-top: .5rem;
}
form .Row {
    gap: .75rem;
}
#Contact {
    scroll-margin-top: 16vh;
    gap: 1.5rem;
    
}
/* #endregion CONTACT SECTION */

/* #region PROJECT HERO SECTION */

.HeroHomeIntro {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) {
    .ProjectHeroText {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1.25rem;
    }
    .ProjectHeroListContainer {
        gap: 1rem !important;
        flex-direction: column !important;
    }
    .ProjectIntro {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
@media only screen and (max-width: 900px) {
.ProjectCardText {
    padding-right: 0;
}
}
/* @media only screen and (max-width: 700px) {
    .ProjectHeroListUL li {
        font-size: 1rem !important;
    }
    .ProjectHeroList {
        margin-right: 1rem;
    }
} */
@media only screen and (max-width: 550px) {
    .ProjectCardImage {
        overflow: hidden;
        padding: .5rem;
    }
    #OptimalAssessment .ProjectCardImage {
        padding-bottom: 0;
    }
    .ProjectHeroListUL {
        flex-direction: column;
    }
    .ProjectHeroListUL li {
        border-bottom: #2156a6 1px solid;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-top: 0 !important;
        font-size: 1.1rem;
        border-right: none !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .ProjectHeroList li:first-child {
        /* padding-top: 0 !important; */
    }
    .ProjectHeroList li:last-child {
        /* padding-bottom: 0 !important;
        border-bottom: none; */
    }
    .ProjectHeroList li:only-child {
        border: none;
    }
    .ProjectHeroList {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .ProjectHeroListContainer {
        gap: 3rem !important;
        flex-direction: row !important;
    }
}

/* .ProjectHeroImageShadow {
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
                inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
                z-index: 1000;
                width: 100%;
                height: fit-content;
} */
.ProjectHeroImage img {
    width: 100%;
    /* box-shadow: 0px 0px 10px 10px #e9e9e9; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
                inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5); */


}
.ProjectHeroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* grid-template-columns: 1fr .75fr; */
    margin-top: 1rem;
    gap: 1rem;
}
.ProjectHeroDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* flex-shrink: 10; */
    flex: 1;
    max-width: 70%;
    
    
}
.ProjectHeroDescription p {
    font-size: 1.2rem;
}
.ProjectHeroListContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    /* flex-grow: 10; */
    flex: 1;
}
.ProjectHeroListUL {
    display: flex;
    list-style: none;

}
.ProjectHeroListUL li {
    border-right: #2156a6 1px solid;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 300;
}
.ProjectHeroList li:first-child {
    padding-left: 0;
}
.ProjectHeroList li:last-child {
    padding-right: 0;
    border-right: none;
}


/* #endregion PROJECT HERO SECTION */

/* #region PROJECT INTRO */

@media only screen and (max-width: 1100px) {
    .ProjectIntro {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
@media only screen and (max-width: 500px) {
    .ProjectIntro {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .ProjectIntro hr:first-child {
        width: 100% !important;
        margin-left: 0;
    }
    .ProjectIntro hr:last-child {
    width: 100% !important;
    align-self:flex-end;
    }
}
.ProjectIntro{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 3.5rem; /* Should be the same value as the gap property of .ProjectBody */
    margin-bottom: 3.5rem; /* Should be the same value as the gap property of .ProjectBody */
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
}
.ProjectIntro p {
    font-size: 1.5rem;
}
.ProjectIntro hr {
    height: 1px;
    border: none;
    background-color: #2156a6;
}
.ProjectIntro hr:first-child {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
}
.ProjectIntro hr:last-child {
width: 100%;
align-self:flex-end;
margin-top: 1rem;
}
/* #endregion PROJECT INTRO */

/* #region PROJECT BODY */

@media only screen and (max-width: 1300px) {
    .ProjectBodySection {
        gap: 3rem !important;
    }
}
@media only screen and (max-width: 1100px) {
    .ProjectBodySection {
        display: flex !important;
        flex-direction: column;
        gap: 1.5rem !important;
    }
    .ProjectBody {
        gap: 2rem !important;
    }
    .FinalDesignImageContainer {
        display: flex;
        flex-direction: column;
        gap: .5rem !important;
    }
    #FinalDesignSection {
        gap: 2rem;
    }
}
@media only screen and (max-width: 700px) {
    .AlignedCards, .BlockGrid {
        display: flex !important;
        gap: 1rem;
        flex-direction: column;
    }
    .ContentCard {
        width: unset !important;
    }
    .TwoColGrid {
        display: flex !important;
        flex-direction: column !important;
    }
    
}
@media only screen and (max-width: 500px) {
.ProjectIntro p {
    font-size: 1.25rem;
}
}

#FinalDesignSection {
    scroll-margin-top: 16vh;
}

video {
    max-width: 100%;
}
.VideoFullWidth {
    width: 100%;
    /* height: 100% */  
}
.VideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: 2rem;
  }
  
  .VideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }

.ProjectBody {
display: flex;
flex-direction: column;
gap: 3.5rem; /* Should be the same values as the margin-top and margin-bottom property of .ProjectIntro */
}
.ProjectBodySection {
    display: grid;
    justify-content: space-between;
    grid-template-columns: .7fr 1fr;
    gap: 8rem;
}
.ParagraphGap {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.AdditionalParagraphGap {
    gap: .75rem;
}
.ProjectBody h3 {
    /* margin-bottom: .75rem; */
}
.ProjectBody h3:has(h3+p) {
    margin-bottom: 1;
}
.ProjectBodySectionHeadings .StickyElement {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.ProjectBodySectionHeadings .StickyElement:has(h2+div) > h2 {
    margin-bottom: .5rem; /* this selector selects the containers holding the text on the left column of the case study pages and if they have an h2 and a div together (as opposed to an h2 and a p tag), then it will make the margin-bottom of the h2 tag .5rem. */
}
/* .ProjectBodySectionHeadings .StickyElement > h2 {
    margin-bottom: .5rem;
} */
.ProjectBodySectionContent {
    flex-basis: 50%;
}
.ProjectBodyImage img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.ProjectBodyImage h3 {
    margin-bottom: .25rem;
}
.ContentCard {
    background-color: #fff;
    padding: .5rem;
    width: 50%;
    border: 1px solid rgb(201, 201, 201);
    /* border-left: #2156a6 2px solid; */
    display: flex;
    flex-direction: column;
}
.ContentCard h3 {
    margin-bottom: .75rem;
}
.ThreeCardGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}
.ThreeCardGrid div {
    display: flex;
    width: 100%;
    gap: .5rem;
}
.ThreeCardGrid .ContentCard {
    /* width: 100%; */
}
.BlockGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.BlockGridOnlyTwoDivs {
    display: flex;
}
.BlockGridOnlyTwoDivs .BlockCard1, .BlockGridOnlyTwoDivs .BlockCard2 {
    flex: 1;
}

.BlockCard {
    background-color: #fff;
    padding: .5rem;
    /* width: 50%; */
    border: 1px solid rgb(201, 201, 201);
    /* border-left: #2156a6 2px solid; */
    display: flex;
    flex-direction: column;
}

.BlockCard1 { grid-area: 1 / 1 / 2 / 2; }
.BlockCard2 { grid-area: 1 / 2 / 2 / 3; }
.BlockCard3 { grid-area: 2 / 1 / 3 / 3; }

.TwoColGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.TwoColGrid img {
    max-width: 100%;
}


/* #endregion PROJECT BODY */

/* #region SLIDER */
.Slideshow, .FirstSlide {
    padding-bottom: 0em;
}
.Slideshow {
    max-width: 100%;
}
.Slide, .FirstSlide {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.SlideTextContent {
    flex-basis: 50%;
}
.SlideImage {
    max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgb(201, 201, 201);
  max-width: fit-content !important;
}
.SlideImage img {
    max-width: 100%;
}
.SlideshowParent {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 3em;
  }
.SlideshowArrows {
    text-align: center;
    display: flex;
    justify-content: left;
    margin-top: .5em;
    
}
.SlideshowArrows, .Slide {
    max-width: 100%;
}
.SlideShowArrowChild {

}
  
  .Slide {
    display: none;
  }
  
  .prev,
  .next {
  
    width: auto;
    
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2156a6;
    display: block;
  }
  
  .next {
    margin-left: .5em;
  }
  .prev {
    margin-right: .5em;
  }
  
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .FirstSlide {
    display: flex;
  }
/* #endregion SLIDER */

/* #region ABOUT PAGE */

.AboutContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.AboutContent .BigHeadingAndParagraph {
    /* max-width: 50%; */
}
.AboutImage img {
    max-width: 100%;
}
.AboutPhotoCredit {
    margin-bottom: .25rem;
    margin-top: .25rem;
}
.AboutPageParagraphGap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ResumeSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.ResumeSection li {
    margin-left: .5rem;
}

.ResumeExperienceBlock {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

/* #endregion ABOUT PAGE */